**/*.iml
**/*.swo
**/*.swp
**/.idea/tasks.xml
**/.idea/workspace.xml

*.eml
*.iml
*.userlibraries

.DS_Store**
.classpath**
.gradle
.idea
.idea/
.idea/**
.project**

/bin
/bin/
/build/
/build/classes/
/build/generated/
/build/kotlin/
/build/kotlin/sessions/
/build/libs/
/build/tmp/
/out/

bin/**
build/kotlin/sessions/
builddir
data/eco/offer_dispatch_db.emp
data/logs/**
data/players/**
data/profile/**
docker
gradle
logs
out/
out/**

Server/**/*.class
Server/.gradle/
Server/build/
Server/data/eco/bot_offers.json
Server/data/eco/grand_exchange_db.emp
Server/data/eco/grandexchange.db
Server/data/global_kill_stats.json
Server/data/serverstore/
Server/ge_test.db
Server/gradle/
Server/hasRan.txt
Server/latestdump.txt
Server/target/*
Server/worldprops/