**/*.iml
**/*.swo
**/*.swp
**/.idea/tasks.xml
**/.idea/workspace.xml

*.eml
*.iml
*.userlibraries

.DS_Store**
.classpath**
.gradle
.idea
.idea/
.idea/**
.project**

/bin
/bin/
/build/
/build/classes/
/build/generated/
/build/kotlin/
/build/kotlin/sessions/
/build/libs/
/build/tmp/
/out/

bin/**
build/kotlin/sessions/
builddir
data/eco/offer_dispatch_db.emp
data/logs/**
data/players/**
data/profile/**
docker
gradle
logs
out/
out/**

Emulator/**/*.class
Emulator/.gradle/
Emulator/build/
Emulator/data/eco/bot_offers.json
Emulator/data/eco/grand_exchange_db.emp
Emulator/data/eco/grandexchange.db
Emulator/data/global_kill_stats.json
Emulator/data/serverstore/
Emulator/ge_test.db
Emulator/gradle/
Emulator/hasRan.txt
Emulator/latestdump.txt
Emulator/target/*
Emulator/worldprops/